<!Doctype html>
<html>

<head>
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    <div id="app">
        <form action="/message" method="post">
            <input type="text" id="message" name="message" />
            <button type="submit">Send</button>
        </form>
    </div>
</body>

</html>